# This notebook will contain the capstone project for IBM Data Science course

Start by installing required libraries

In [1]:
#!pip install bs4
#!pip install requests

Import required libraries

In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

Make the request to get the wikipedia page <br/>
Use beautiful soup to extract table with postal codes

In [3]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
data = requests.get(url).text
soup = BeautifulSoup(data,"html5lib")
tables = soup.find_all('table')

In [4]:
for i,table in enumerate (tables):
    if "Postal Code" in str(table.th):
        table_index=i
        break
print("The table index with postal codes is:", table_index)

The table index with postal codes is: 0

Put the table in a dataframe

In [5]:
ca_postalcodes = pd.read_html(str(tables[table_index]),flavor='bs4')[0]
ca_postalcodes.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

Remove the Borough Not assigned rows from the data frame

In [6]:
ca_postalcodes.drop(ca_postalcodes[ca_postalcodes['Borough']=="Not assigned"].index,inplace=True)
ca_postalcodes.reset_index(drop=True,inplace=True)
ca_postalcodes.head()

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

#### Below is dummy code in case we need to rename "not assigned" Neighborhoods by Borough name, and group Neighborhoods with same postal code <br/>
PS: It seems the wiki table has been cleaned up since the creation of this assignment

In [7]:
bla={"postal code":["M1","M1","M2","M2"],"borough":["north york","north york","toronto","toronto"],"neigh":["park","not assigned","regent","not assigned"]}
df=pd.DataFrame(bla)
not_assigned=df.index[df['neigh']=='not assigned'].tolist()
df.loc[not_assigned,['neigh']]=df.loc[not_assigned,['borough']].values
df=df.groupby(['postal code','borough'])['neigh'].apply(','.join).reset_index()
df

  postal code     borough            neigh
0          M1  north york  park,north york
1          M2     toronto   regent,toronto

In [8]:
ca_postalcodes.shape

(103, 3)